<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="1" time-out="7200000">
    <test name="Test case 677468: License upload restrictions">
        <classes>
            <class name="cicd.autotests.test.scenario.TestSwitchKettleState"/>
        </classes>
    </test>
</suite>